# ─ Env files
.env
.env.local
.env.*.local

# ─ Node / TypeScript
node_modules/
dist/
dist-ssr/
build/
*.local
logs/
*.log
npm-debug.log*
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo

# ─ Prisma 
ms-user/src/generated/prisma
ms-client/src/generated/prisma
ms-item/src/generated/prisma

# ─ Frontend / Expo

.expo/
dist/
web-build/
expo-env.d.ts

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

app-example

/ios
/android


# ─ IDEs and OS files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
*.pem
.editorconfig
