# .env file for ms-automation microservice

MS_NAME=ms_automation
DB_NAME=armovie_automations
PORT=5005

DATABASE_URL=

# Internal service URLs (no gateway — direct communication)
MS_ITEM_URL=
MS_SCHEDULE_URL=
