# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=your-secret-here # Must be equal to the one in ms-user's .env file

# - General - # 

MS_NAME=gateway
PORT=3000

# - Services URLs - #

FRONTEND_URL=http://localhost:8081
USER_URL = http://localhost:5001
ITEM_URL = http://localhost:5002
CLIENT_URL = http://localhost:5003
SCHEDULE_URL = http://localhost:5004
